<!--The content below is only a placeholder and can be replaced.-->
<div align="center">
    <p>Mega Inc</p>
    <div>
      <table>
      <tr>
        <td>
          <form>
            <button routerLink="/payments">Payments</button>
          </form>
        </td>
        <td>
          <form>
            <button routerLink="/customers">Customers</button>
          </form>
        </td>
        <td>
          <form>
            <button routerLink="/billers">Billers</button>
          </form>
        </td>
      </tr>
      </table>
    </div>
</div>


